<div id="donation_form">
<%= form_for donation do |f| %>
	<div id="toggle" class="spread-block">
		<div class="inner">
		
		<span class="close-spread"> <!-- w3c empty div validate --> </span>
		<div class="clearfix"> <!-- w3c empty div validate --> </div>  
		
		<div class="left">
		
		<form class="form-horizontal" role="form">
		  <div class="form-group">
			<label class="col-sm-4 control-label">Name</label>
			<div class="col-sm-8">
				<%= text_field_tag "[donation][user][name]", "", :class => "form-control", :id => "user_name" %>
    			  <small class="message"> Nice to meet you <strong> ##name## </strong> </small>
			  <small class="error-msg"> Uh. please let us know your name </small>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-4 control-label">Phone</label>
			<div class="col-sm-8">
				<%= text_field_tag "[donation][user][phone]", "", :class => "form-control" %>
			   <small class="message"> We will be able to call you. </small>
			</div>
		  </div>
			
		  <div class="form-group">
			<label class="col-sm-4 control-label">Date</label>
			<div class="col-sm-8 date-block">
				<%= f.text_field :picked_at, :id=>"datepicker",:class=>"form-control"%>
			  <span class="green-light"> <!-- w3c empty div validate --> </span>
			   <small class="message"> So, shall we call it a date? </small>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label class="col-sm-4 control-label">Location</label>
			<div class="col-sm-8 location">
				<%= f.select :location_id, PickUpLocation.all.collect{|location|[location.name, location.id]}, {}, :id=>"speed", :class=>"form-control", :include_blank => "Select" %>

			<span class="green-input"> <!-- w3c empty validate --> </span>	
			  <small class="message"> See you there. </small>
			</div>
		  </div>
		  
		  <div class="form-group feeds-gapping">
			<label class="col-sm-4 control-label">feeds</label>
			<div class="col-sm-8 feeds">
			<div class="slider-block">
			  <div id="slider-range-min"> <!-- w3c empty div validate --> </div>
			  <%= image_tag("count.png") %>
			 </div> 
			 <%= f.hidden_field :feed_how_many, :id => "amount", :value => "0" %>
			  <span class="smiley-face"> <!-- w3c empty div validate --> </span> 
				<small class="error-msg"> Feeds how many ? </small>
			</div>
		  </div>
		  
		  
		  <div class="form-group">
			<div class="col-sm-12">
				<%= f.submit "Spread Happiness", :class => "btn", :onclick => "return validate_all_fields()" %>
			</div>
		  </div>
		</form>
		
		</div>
		
		
		<!-- location indicator starts -->
		
		<div class="right">
		
		<span class="top"> <!-- w3c empty div validate --> </span>
		<span class="bottom"> <!-- w3c empty div validate --> </span>
		
		<% @locations.each do |location| %>
			<div class="indicator"> 
				<%= hidden_field_tag("location_id[]", location.id) %>
				<h4 class="location-title"> <%= location.name %> </h4>
				<i class=<%= indicator_icon(location) %>>
				 <!-- w3c empty div validate --> </i> 
			</div>
		<% end %>
		
		</div>
		
		<!-- location indicator ends -->
		
		
		</div>
	</div>	
<% end%>
</div>
	
<script>
$(document).ready(function(){
$("#ui-datepicker-div").addClass("custom-calendar");	
});
</script>